<form action="/file/new" method="post">
  <label for="new_document">New document name</label>
  <div>
    <input name="new_document" type="text" value="">
    <button type="submit">Create Document</button>
  </div>
</form>
